/* Page Size & Magins */
body {
    margin:0px;
}

#main-doc {
    width: 100%; 
    min-width: 957px;
}

/* Headers */
#hd {
    background-color: #425C8F;
}

#banner {
    background-color: #023568;
}

/** Navigation **/
#top-nav {
    padding:0px 0px 10px 0px;
    margin:5px 0px 20px 0px;
}

#top-nav li {
    float: left;
    border-right: 1px solid #000;
    list-style: none;
}

#top-nav li.last {
    border-right: none;
}

#top-nav a:hover {
    color: #023568;
}

#top-nav a {
    padding: 4px 14px;
    color: #FFF;
}

.menu a {
    display: block;
    float: left;
    padding: 1px 7px;
    text-decoration: none;
    font-weight: bold;
    font-size: 12px;
    font-weight: bold;
    text-transform:uppercase;
}

/* Body */
#bd {
    padding: 20px;
    min-height: 400px;
}

/* Footer */
#ft {
    margin:0px 20px;
    padding-top:10px;
    border-top: 1px solid #D0D0D0;
    text-align: center;
}

#search {
    margin-bottom:10px;
}
