/* Page Size & Magins */
html {
    background-color: #425C8F;
}

body {
    margin:0px;
}

#main-doc {
    width: 95%; 
    min-width: 957px;
}

/* Headers */
#hd {
    background-color: #425C8F;
}

#banner {
    background-color: #023568;
}

/** Navigation **/
#top-nav {
    padding:0px 0px 15px 0px;
    margin:10px 0px 10px 0px;
}

.menu li {
    float: left;
    border-right: 1px solid #023568;
    list-style: none;
}

.menu li.last {
    border-right: none;
}

.menu a:hover {
    color: #023568;
}

.menu a {
    padding: 1px 20px;
    color: #FFF;
    display: block;
    float: left;
    text-decoration: none;
    font-weight: bold;
    font-size: 12px;
    font-weight: bold;
    text-transform:uppercase;
}

/* Body */
#bd {
    padding: 20px;
    min-height: 400px;
    background-color: #fff;
}

#search {
    margin-bottom:10px;
}

/* Footer */
#ft {
    color:#fff;
}

#ft ul {
    padding-top:0px;
}

#ft span {
    color:#FFFFFF;
    float:left;
    margin-right:120px;
}