/* Page Size & Magins */
html {
    background-color: #023568;
}

body {
    margin:0px;
}

#main-doc {
    width: 1000px; 
}

#bd th, #bd td {
    border:none;
}

/* Headers */
#hd {
    background-color: #425C8F;
}

#banner {
    background-color: #023568;
}

/** Navigation **/
#top-nav {
    padding:0px 0px 12px 0px;
    margin:3px 0px 3px 0px;
}

.menu-footer li {
    float: left;
    border-right: 1px solid #023568;
    list-style: none;
}

.menu-footer li.last {
    border-right: none;
}

.menu-footer a:hover {
    color: #BFD5FF;
}

.menu-footer a {
    padding: 1px 20px;
    color: #FFF;
    display: block;
    float: left;
    text-decoration: none;
    font-weight: bold;
    font-size: 12px;
    font-weight: bold;
    text-transform:uppercase;
} 

/* These styles just pretty up the page a bit. */

/* These styles create the dropdown menus. */
#menu {
	margin: 0;
	padding: 0;
	height: 1em; }

#menu li {
	list-style: none;
    float: left; }

#menu li.depth-1 {
	border-right: 1px solid #023568;
	}

#menu li.last {
	    border-right: none;}
	
#menu li a {
	display: block;
	padding: 3px 8px;
	background-color: #425C8F;
	color: #fff;
	font-weight: bold;
    font-size: 13px;
    font-weight: bold;
    text-transform:uppercase;
	text-decoration: none; }
	
#menu li ul {
	display: none; 
	width: 10em; /* Width to help Opera out */
	background-color: #69f;
	z-index:100}

#menu a:hover {
    color: #BFD5FF;
}

#menu li:hover ul, #menu li.hover ul {
	display: block;
	position: absolute;
	margin: 0;
	padding: 0; }
	
#menu li:hover li, #menu li.hover li {
	float: none; }
#menu li:hover li a, #menu li.hover li a {
	background-color: #CCDDFF;
	border-bottom: 1px solid #fff;
	color: #000; }
#menu li li a:hover {
	background-color: #8db3ff; }


/* Body */
#bd {
    padding: 20px;
    min-height: 400px;
    background-color: #fff;
}

#search {
    margin-bottom:10px;
}

/* Footer */
#ft {
    color:#fff;
}

#ft ul {
    padding-top:0px;
}

#ft span {
    color:#FFFFFF;
    float:left;
    margin-right:120px;
}