<span>&copy; 2009 Mano a Mano International. All Rights Reserved.</span>
<div id="menu-footer" class="right">
<ul>
  <li><a href="/footer_nav/site_map">Site Map</a></li>
  <li><a href="/footer_nav/contact">Contact Us</a></li>
</ul>
</div>
<!-- Start Google Analytics Tracking Snippet dki -->
<script type="text/javascript">
var gaJsHost = (("https:" == document.location.protocol) ? "https://ssl." : "http://www.");
document.write(unescape("%3Cscript src='" + gaJsHost + "google-analytics.com/ga.js' type='text/javascript'%3E%3C/script%3E"));
</script>
<script type="text/javascript">
try {
var pageTracker = _gat._getTracker("UA-2473025-1");
pageTracker._trackPageview();
} catch(err) {}</script>
<!-- End Google Analytics Tracking Snippet -->
