<% payment_service_for "Donation", CONFIG[:paypal_email],
        :amount => @donation_amount_in_dollars, :currency => 'USD',
        :service => :paypal do |service| 

    service.item_name "Donation"
    service.tax '0.00'

    service.notify_url url_for(:only_path => false, :controller => "payments", :action => 'notify')
    service.return_url url_for(:only_path => false,
        :controller => 'payments', :action => 'receipt')
    service.cancel_return_url url_for(:only_path => false,
        :controller => 'payments', :action => 'new') %>

    <p>Donation Amount: $<%= @donation_amount_in_dollars %></p>

    <%= submit_tag 'Continue to Payment Information' %>
<% end %>
