<%= error_messages_for(:payment_authorizer, :header_message => nil, :message => nil) %>
<%= @error_message %><br/>
<% form_for :payment_authorizer, @payment_authorizer, :url => {:controller => "payments", :action => "confirm"} do |f| -%>

  <p>
    <label for="donation_amount_in_dollars">Donation Amount *</label>
    $ <%= text_field_tag "donation_amount_in_dollars" %>
  </p>
  
  <%= f.submit "Continue" %>
  
<% end -%>
